<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jingxi.smartlife.pad.safe">


    <application>
        <!--<activity-->
            <!--android:name="com.jingxi.smartlife.pad.safe.mvp.view.FullScreenLiveActivity"-->
            <!--android:screenOrientation="landscape" />-->
        <activity
            android:name="com.jingxi.smartlife.pad.safe.mvp.view.FullScreenActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.jingxi.smartlife.pad.safe.mvp.view.VideoCallActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.ActivityDialogStyle"/>
    </application>

</manifest>
