<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wujia.businesslib">

    <application>

        <activity
            android:name=".base.WebViewActivity"
            android:screenOrientation="landscape"
            android:process=":webview"/>

    </application>
</manifest>
